body {
  background-image: url('/images/background.png'); /* or jpg */
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  background-attachment: fixed;
}
